{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Такое Кино</title>
    
    <!-- ТОЛЬКО ЛОКАЛЬНЫЕ ФАЙЛЫ -->
    <link rel="stylesheet" href="{% static 'main/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <div class="app-container">
        <aside>
            <div class="logo-wrapper">
                <img src="{% static 'main/img/logo.jpg' %}" alt="logo" class="logo-img">
                <span class="logo-text">Такое Кино</span>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Главная</a></li>
                    <li><a href="{% url 'about' %}"><i class="fas fa-address-card"></i> О нас</a></li>
                    <li><a href="{% url 'start1' %}" style="color: #e50914;"><i class="fas fa-play"></i> Играть 1 раунд</a></li>
                    <li><a href="{% url 'start2' %}" style="color: #e50914;"><i class="fas fa-play"></i> Играть 2 раунд</a></li>
                    <li><a href="{% url 'leaderboard1' %}"><i class="fas fa-trophy"></i> <span>Рекорды 1 раунда</span>
                    <li><a href="{% url 'leaderboard2' %}"><i class="fas fa-trophy"></i> <span>Рекорды 2 раунда</span>
    </a>
</li>
                </ul>
            </nav>
        </aside>
        
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>